name: Godot Unit Tests

on: 
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run GUT Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run GUT Checks
        uses: Hypasist/godot4-gut-testing@v1.0
        with:
          # Path to GUT configuration. Example config is pasted below.
          # Default: '.'
          gutConfigPath:
      
          # Extra flags to pass to both Godot runs. E.g. `--verbose`
          # Default: ' '
          extraGodotFlags:
      
          # Boolean value; you can disable resource importing, if you include `.godot` folder in your repository.
          # Default: 'true'
          importGodotResources:
